
.tf{
    height: 400px;
    width: 300px;
    border: 5px solid seagreen;
    /* transform: skew(45deg); */
    /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
    /* transform: rotate(90deg, 120deg, 150deg); */

}